.nav-carousel {
    background-color: black;
    height: 10vh;
    max-height: 70px;
    min-height: 50px;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: #ffffff;
    // max-width: 1600px;
    // border: 1px green solid;

}



  .slider {
    display: flex;
     /* height: 100vh; */
     display: flex;
   justify-content: space-between;
     /* background-color: #e6d7b0; */
     max-width: 1600px;
     margin: 0 auto 0 auto;
     width: 100%;
   }
   
   .slide {
     opacity: 0;
     transition-duration: 1s ease;
     
   }
   
   .slide.active {
     opacity: 1;

     width: 70%;
    //  background-color: green;
   }
   .slide-inactive {
     display: none;
   }
   .left-arrow {
    //  width: 3%;
     height: 100%;
     font-size: 30px;
     border: none;
     background-color: black;
     color: #e6d7b0;
     cursor: pointer;
     margin-left: 1.3%;
     text-align: left;

   }
   
   .right-arrow {
    //  width: 30%;
     height: 100%;
     font-size: 30px;
     margin-right: 1.5%;
     border: none;
     background-color: black;
     color: #e6d7b0;
     cursor: pointer;
     text-align: right;
    //  margin-top: 15px;
   }
   
   .carousel-h1-styles{
     font-size: 13px;
     margin: 15px 0 0 0;
     font-weight: 600;
     font-family: 'Barlow';
     /* font-weight: 600;  */
   }
   
   .carousel-p-styles {
     font-size: 15px;
     margin: 2px;
   }
   
   .carousel-slideOne-styles {
     /* background-color: aqua; */
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     font-family: 'Barlow';
     font-weight: 400;
     font-size: 300px;
   }