.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: 0 auto 0 auto;
    height: 40px;
    // border: 1px solid green;
    width: 100%;
    
}
.nav-about {
   margin: 10px 0 0 140px;
   font-family: 'Roboto';
   cursor: pointer;
   font-weight: 500;
}
.nav-img {
    margin: 12px 0 0 0;
    cursor: pointer;
}
.nav-account-cart-container {
    display: flex;
    justify-content: space-between;
    margin: 10px 140px 0 0;
}
.nav-account {
    font-family: 'Roboto';
    cursor:pointer;
    font-weight: 500;
}