.previousdrops {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

.previousdrops-text-container {
  border: green 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.previousdrops-carousel {
  width: 82%;
  height: 700px;
}

.previousdrops-carousel-nav-container {
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.previousdrops-carousel-nav-line-container {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.previousdrops-carousel-slides-container {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.previousdrops-carousel-slide1-container {
  width: 32%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}

.previousdrops-carousel-slide1-image-container {
  background-color: rgba(230, 215, 176, 0.35);
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

.previousdrops-carousel-slide2-container {
  width: 32%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.previousdrops-carousel-slide2-image-container {
  background-color: rgba(230, 215, 176, 0.35);
  width: 100%;
  height: 65%;
  border-radius: 15px;
}

.previousdrops-carousel-slide2-title-button-remaining-container {
  height: 30%;
  width: 100%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.previousdrops-carousel-slide3-container {
  width: 32%;
  height: 100%;
  background-color: white;
  border-radius: 15px;
}

.previousdrops-carousel-slide3-image-container {
  background-color: rgba(230, 215, 176, 0.35);
  width: 100%;
  height: 80%;
  border-radius: 15px;
}

.previousdrops-carousel-nav-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  height: 44%;
}

#previousdrops-carousel-nav-button-left {
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: black;
  color: #e6d7b0;
}

#previousdrops-carousel-nav-button-right {
  width: 50px;
  height: 50px;
  font-size: 30px;
  margin-left: 10px;
  background-color: black;
  color: #e6d7b0;
}

.previousdrops-carousel-nav-line {
  height: 1px;
  width: 100%;
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 4px;
}

.previousdrops-carousel-nav-progress-line {
  width: 13%;
  height: 8px;
  background-color: black;
  position: absolute;
}
/*# sourceMappingURL=previousDrops.css.map */