.footer {
    background-image: (url(../../assets/creamTexture.jpeg));
    z-index: -1;
    // position: absolute;
}

.footer-container {
    background-color: black;
    background-image: (url(../../assets/footerTexture.jpeg));
    // background-size: 50px 150px;
    // background-repeat: repeat;
    width: 100%;
    height: 300px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    
}

.footer-inner-container {
   display: flex; 
   flex-direction: row;
//    background-color: green;
margin: 0 2% 0 2%;
   width: 100%;
   max-width: 1600px;
   justify-content: space-between;

   @media (min-width: 1600px) {
       margin: 0 auto 0 auto;
   }
}

.footer-mbs-container {
    // width: 100px;
    // height: 100px;
    // background-color: white;

    margin-top: 60px;

    @media (max-width: 600px) {
        display: none;
    }
}

.footer-shop-container {
    // width: 100px;
    // height: 100px;
    // background-color: blue;
    margin-top: 60px;
    color: white;
    line-height: 2;

}

.about-about {
    font-family: "Barlow";
}



.footer-about-container {
    // width: 170px;
    // height: 100px;
    // background-color: green;
    margin-top: 60px;
    color: #e6d7b0;
    line-height: 2;
}

.footer-social-container {
    // width: 100px;
    // height: 100px;
    // background-color: orange;
    margin-top: 60px;
    color: white;

    @media (min-width: 600px) {
        // display: flex;
    }
}

.footer-social-inner-container {
    display: flex;
    flex-direction: column;

    @media (min-width: 600px){
        flex-direction: row;
    }
}

.footer-mbs {
    // background-color: black;
    // filter: invert(96%) sepia(7%) saturate(1412%) hue-rotate(337deg) brightness(97%) contrast(86%);
    color: white;
    background-color: white;
    // border: orange 1px solid;
    margin-top: 9px;

}

.shop-title {
    color: white;
    margin-bottom: 20px;
    font-family:'Allerta Stencil', sans-serif;
}

.about-title {
    color: white;
    margin-bottom: 20px;
    font-family:'Allerta Stencil', sans-serif;
}

.footer-about-container div {
    color: white;
}
.footer-social {
    color: white ;
    font-family: 'Allerta Stencil', sans-serif;
    
}
.insta {
    font-size: 30px;
    margin-right: 10px;
}

.twitter {
    font-size: 30px;
    margin-right: 10px;
}
.facebook {
    font-size: 30px;
    margin-right: 10px;
}

.google {
    font-size: 30px;

}

.titles-styles {
 font-family: 'Barlow';
}
