.app {
  /* background-color: rgba(230, 215, 176, 1) */

}

/* .image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
} */

.slider {
 display: flex;
  /* height: 100vh; */
  display: flex;
justify-content: space-between;
  /* background-color: #e6d7b0; */
  width: 100%;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
  
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
  /* width: 100%; */
}
.slide-inactive {
  display: none;
}
.left-arrow {
  /* width: 60px;
  height: 60px; */
  font-size: 30px;
  margin-left: 133px;
  border: none;
  background-color: black;
  color: #e6d7b0;
  cursor: pointer;
  margin-top: 15px;
}

.right-arrow {
  /* width: 60px;
  height: 60px; */
  font-size: 30px;
  margin-right: 138px;
  border: none;
  background-color: black;
  color: #e6d7b0;
  cursor: pointer;
  margin-top: 15px;
}

.carousel-h1-styles{
  font-size: 13px;
  margin: 15px 0 0 0;
  font-weight: 300;
}

.carousel-p-styles {
  font-size: 10px;
  margin: 2px;
}

.carousel-slideOne-styles {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hero-buttons-video-container {
  display: flex;

}

#videoid {
  margin-left: 15%;
}



